.contenido
    contenedor()
    margin-bottom 40px
    justify-content space-evenly

.caja
    max-width 430px
    caja-sombra()
    &__contenido
        padding 20
        background-color color-claro
        span
            color color-secudario
            titulos(fuente2)
        h3
            titulos(fuente2)
            font-weight normal
